NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_GOOGLE_ANALYTICS=
NEXT_PUBLIC_ADMISSION_GUIDELINES=
NEXT_PUBLIC_FORM_START=
NEXT_PUBLIC_FORM_END=
NEXT_PUBLIC_FIRST_RESULT=
NEXT_PUBLIC_INTERVIEW_START=
NEXT_PUBLIC_INTERVIEW_END=
NEXT_PUBLIC_FINAL_RESULT=
NEXT_PUBLIC_REGISTRATION_START=
NEXT_PUBLIC_REGISTRATION_END=
NEXT_PUBLIC_INSPECTION_START_DAY=
NEXT_PUBLIC_INSPECTION_END_DAY=
